#paging {
  display: flex;
  width: 50rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
}

#paging > form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  text-align: center;
}
